<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/assets/css/sample.css" type='text/css'>



 </head>
  <body>
    

    <form action="" method="POST">
      {% csrf_token %}
      <div class="imgcontainer">
        <h2 align='center'>Login Form</h2>
        <a href="register">REGISTRATION</a>
       
      </div>
      <br>
        <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required />
        <br>
        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="psw"
          required
        />
        <br>
        <input type="submit" value="Login" />
        <label>
          <input type="checkbox" checked="checked" name="remember" /> Remember
          me
        </label>
        <br>
      </div>

      <div class="container" style="background-color: #f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
    <h3>{{m}}</h3>
  </body>
</html>
