<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/assets/css/sample.css" type='text/css'>
  </head>
  <body>
   

    <form action="" method="POST">
      {% csrf_token %}
      <div class="imgcontainer">
        <h2>Registration Form</h2>
       <a href="/">LOGIN</a>
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required />
        <br>
        <label for="email"><b>Email</b></label>
        <input
          type="email"
          placeholder="Enter Email"
          name="email"
          required
        /><br>
        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="psw"
          required
        /><br>
        <label for="pn"><b>PhoneNumber</b></label>
        <input
          type="phonenumber"
          placeholder="Enter Phone Number"
          name="pn"
          required
        />
        <br>
        <label for="db"><b>DateofBirth</b></label>
        <input
          type="date"
          placeholder="Enter DateofBirth"
          name="db"
          required
        />
        <br>
        <input type="submit" value="Register" />
    
    </form>
    <h3>{{m}}</h3>
  </body>
</html>
