<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="analyze" method='get'>
        <h1>TextUtils Example</h1>
       <textarea name="textname" id="textname" cols="30" rows="10"></textarea>
       <br>
       RemovePunctuation<input type="checkbox" name="removepunc" id="c">
       <br>
       Capitalizedtext<input type="checkbox"" name="cap_txt" id="ct">
       <br>
       Lowercasetext<input type="checkbox"" name="lower_txt" id="lt">
       <br>
       <button type="submit">SUBMIT</button>
    </form>
    </body>
</html>