{% extends "base11.html" %}
{% load crispy_forms_tags %}
{% block title %}Booking{% endblock title %}
{% block content %}
<h1 class='text-center'>Make an appointment</h1>
<hr>
<div class='container w-50 p-3 text-center my-5 bg-info'>
    <form action="" method='POST'>
        {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    {{ form |crispy}}
    <br>
    <button class='btn btn-primary mb-4' type='submit'>SUBMIT</button>
   
    </form>
    {% comment %}  <input type="button" class="btn btn-primary mb-4" value="SUBMIT"> {% endcomment %}
  
</div>
{% endblock content %}